node_modules/
.venv/
*.pyc
__pycache__/
.DS_Store
*.pkl
.agent/

# Environment variables & secrets
backend/.env

# Planning
backend/app/utils/init_db.py
planning/
.tmp/
directives/
execution/
docker-compose.yml